flow_serveur_distant.json
[
    {
        "id": "e3a9e47b1012371f",
        "type": "tab",
        "label": "Flux 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "15fd5403c5929440",
        "type": "mqtt-broker",
        "name": "",
        "broker": "eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4a0345428e4ad41d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "365bed6465b66047",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1aac45fbc35d75fa",
        "type": "ui_group",
        "name": "Historique",
        "tab": "4a0345428e4ad41d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ea4825c2358d28cf",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "stud",
        "passwordFieldType": "str"
    },
    {
        "id": "452d0be9d972fb81",
        "type": "ui_group",
        "name": "Rythme cardiaque",
        "tab": "4a0345428e4ad41d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3399419ed66c7d8",
        "type": "ui_group",
        "name": "Qualité du signal",
        "tab": "4a0345428e4ad41d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "343a710f63a2887a",
        "type": "ui_group",
        "name": "Choix du seuil maximum",
        "tab": "4a0345428e4ad41d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2b95dfb559df082d",
        "type": "mqtt in",
        "z": "e3a9e47b1012371f",
        "name": "mqtt from TTN",
        "topic": "v3/app-deschanel-rouquet@ttn/devices/eui-deschanel-rouquet/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "15fd5403c5929440",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c8eb4ce7857801d3",
                "5b66f52cb18bea08",
                "ca4e15113ed468ef"
            ]
        ]
    },
    {
        "id": "c8eb4ce7857801d3",
        "type": "function",
        "z": "e3a9e47b1012371f",
        "name": "recup_payload",
        "func": "const data = msg.payload;\nconst valeurBytes = data.uplink_message.decoded_payload.bytes[0];\nmsg.payload = valeurBytes;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 240,
        "wires": [
            [
                "c7245ec874765a64",
                "71052a0c914565c7",
                "d0494ac5ef475e4d",
                "6422c475034a208b",
                "e739f7aae9b74fb7"
            ]
        ]
    },
    {
        "id": "c7245ec874765a64",
        "type": "ui_chart",
        "z": "e3a9e47b1012371f",
        "name": "",
        "group": "452d0be9d972fb81",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Evolution du HR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "20",
        "ymax": "160",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "375aae851f6da925",
        "type": "trigger",
        "z": "e3a9e47b1012371f",
        "name": "Envoie_message",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "30",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 830,
        "y": 340,
        "wires": [
            [
                "3f596c73d5781622"
            ]
        ]
    },
    {
        "id": "3f596c73d5781622",
        "type": "postgresql",
        "z": "e3a9e47b1012371f",
        "name": "",
        "query": "INSERT INTO ecg (date,hr) VALUES (CURRENT_TIMESTAMP, {{msg.payload}});",
        "postgreSQLConfig": "ea4825c2358d28cf",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1070,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "71052a0c914565c7",
        "type": "postgresql",
        "z": "e3a9e47b1012371f",
        "name": "",
        "query": "INSERT INTO avgecg (date,hr) VALUES (CURRENT_TIMESTAMP, {{msg.payload}});",
        "postgreSQLConfig": "ea4825c2358d28cf",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 670,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d549e20125250ad6",
        "type": "ui_text_input",
        "z": "e3a9e47b1012371f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1aac45fbc35d75fa",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "date1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "0dd5f0bb72f6df61"
            ]
        ]
    },
    {
        "id": "631cd40ec7af7d7f",
        "type": "ui_text_input",
        "z": "e3a9e47b1012371f",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1aac45fbc35d75fa",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "date2",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 300,
        "y": 620,
        "wires": [
            [
                "d32ee076c92ee2e7"
            ]
        ]
    },
    {
        "id": "0dd5f0bb72f6df61",
        "type": "change",
        "z": "e3a9e47b1012371f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "date1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 560,
        "wires": [
            [
                "092dc93425a9002f"
            ]
        ]
    },
    {
        "id": "6a4f91aa0bae2840",
        "type": "debug",
        "z": "e3a9e47b1012371f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "date2",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 760,
        "wires": []
    },
    {
        "id": "e2ddc45438b090f9",
        "type": "debug",
        "z": "e3a9e47b1012371f",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "date1",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "d32ee076c92ee2e7",
        "type": "change",
        "z": "e3a9e47b1012371f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "date2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "c37c55dcbfa177bf"
            ]
        ]
    },
    {
        "id": "092dc93425a9002f",
        "type": "function",
        "z": "e3a9e47b1012371f",
        "name": "function 2",
        "func": "var timestamp = msg.date1;\n\n// Créer un objet Date en utilisant le timestamp\nvar date = new Date(timestamp);\n\n// Ajuster l'heure pour le fuseau horaire \"Europe/Paris\"\ndate.setUTCHours(date.getUTCHours() - 1);\n\n// Récupérer l'heure, les minutes et les secondes\nvar heures = date.getHours();\nvar minutes = date.getMinutes();\nvar secondes = date.getSeconds();\n\n// Formater l'heure au format HH:mm:ss\nvar heureLisible = `${heures.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${secondes.toString().padStart(2, '0')}`;\n\n// Ajouter la valeur lisible au message\nmsg.date1 = heureLisible;\n\n// Passez le message au nœud \"debug\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 560,
        "wires": [
            [
                "b86ac41867c7a163",
                "e2ddc45438b090f9"
            ]
        ]
    },
    {
        "id": "c37c55dcbfa177bf",
        "type": "function",
        "z": "e3a9e47b1012371f",
        "name": "function 3",
        "func": "var timestamp = msg.date2;\n\n// Créer un objet Date en utilisant le timestamp\nvar date = new Date(timestamp);\n\n// Ajuster l'heure pour le fuseau horaire \"Europe/Paris\"\ndate.setUTCHours(date.getUTCHours() - 1);\n\n// Récupérer l'heure, les minutes et les secondes\nvar heures = date.getHours();\nvar minutes = date.getMinutes();\nvar secondes = date.getSeconds();\n\n// Formater l'heure au format HH:mm:ss\nvar heureLisible = `${heures.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${secondes.toString().padStart(2, '0')}`;\n\n// Ajouter la valeur lisible au message\nmsg.date2 = heureLisible;\n\n// Passez le message au nœud \"debug\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "6a4f91aa0bae2840",
                "b86ac41867c7a163"
            ]
        ]
    },
    {
        "id": "b86ac41867c7a163",
        "type": "postgresql",
        "z": "e3a9e47b1012371f",
        "name": "",
        "query": "SELECT date, hr FROM avgecg WHERE date BETWEEN (CURRENT_DATE || ' ' || '{{msg.date1}}')::timestamptz AND (CURRENT_DATE || ' ' || '{{msg.date2}}')::timestamptz;",
        "postgreSQLConfig": "ea4825c2358d28cf",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 990,
        "y": 600,
        "wires": [
            [
                "a64ba85e8b699549",
                "0ab8c6d645073d9f"
            ]
        ]
    },
    {
        "id": "a64ba85e8b699549",
        "type": "debug",
        "z": "e3a9e47b1012371f",
        "name": "debug 3",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 600,
        "wires": []
    },
    {
        "id": "0ab8c6d645073d9f",
        "type": "ui_table",
        "z": "e3a9e47b1012371f",
        "group": "1aac45fbc35d75fa",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 1190,
        "y": 660,
        "wires": []
    },
    {
        "id": "5b66f52cb18bea08",
        "type": "function",
        "z": "e3a9e47b1012371f",
        "name": "SNR",
        "func": "// Supposons que msg.payload contient l'objet que vous avez fourni\nconst data = msg.payload;\n\n// Récupérer la valeur de SNR\nconst snrValue = data.uplink_message.rx_metadata[0].snr;\n\n// Ajouter la valeur de SNR au message\nmsg.snr = snrValue;\n\n// Passez le message au nœud suivant\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "7199903777a46c0a"
            ]
        ]
    },
    {
        "id": "7199903777a46c0a",
        "type": "ui_gauge",
        "z": "e3a9e47b1012371f",
        "name": "",
        "group": "a3399419ed66c7d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "SNR",
        "label": "unité",
        "format": "{{msg.snr}}",
        "min": "-20",
        "max": "20",
        "colors": [
            "#ef2929",
            "#fce94f",
            "#73d216"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 120,
        "wires": []
    },
    {
        "id": "ca4e15113ed468ef",
        "type": "function",
        "z": "e3a9e47b1012371f",
        "name": "RSSI",
        "func": "const data = msg.payload;\n\n// Récupérer la valeur de RSSI\nconst rssiValue = data.uplink_message.rx_metadata[0].rssi;\n\n// Ajouter la valeur de RSSI au message\nmsg.rssi = rssiValue;\n\n// Passez le message au nœud suivant\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [
            [
                "582aa9df442a3670"
            ]
        ]
    },
    {
        "id": "582aa9df442a3670",
        "type": "ui_gauge",
        "z": "e3a9e47b1012371f",
        "name": "",
        "group": "a3399419ed66c7d8",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "RSSI",
        "label": "unité",
        "format": "{{msg.rssi}}",
        "min": "-150",
        "max": "0",
        "colors": [
            "#ef2929",
            "#fce94f",
            "#73d216"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 60,
        "wires": []
    },
    {
        "id": "2c26168d2fa36efc",
        "type": "change",
        "z": "e3a9e47b1012371f",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "max",
                "pt": "msg",
                "to": "max",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "33f0ecd037d790b9",
        "type": "ui_text_input",
        "z": "e3a9e47b1012371f",
        "name": "",
        "label": "Seuil max",
        "tooltip": "",
        "group": "343a710f63a2887a",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "max",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 100,
        "y": 400,
        "wires": [
            [
                "2c26168d2fa36efc"
            ]
        ]
    },
    {
        "id": "63b9c46c93ed7dca",
        "type": "inject",
        "z": "e3a9e47b1012371f",
        "name": "",
        "props": [
            {
                "p": "max",
                "v": "89",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "2c26168d2fa36efc"
            ]
        ]
    },
    {
        "id": "e2cc2b7befea696d",
        "type": "debug",
        "z": "e3a9e47b1012371f",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "d0494ac5ef475e4d",
        "type": "switch",
        "z": "e3a9e47b1012371f",
        "name": "Sup_89",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "max",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 620,
        "y": 300,
        "wires": [
            [
                "e2cc2b7befea696d",
                "375aae851f6da925"
            ]
        ]
    },
    {
        "id": "6422c475034a208b",
        "type": "ui_gauge",
        "z": "e3a9e47b1012371f",
        "name": "",
        "group": "452d0be9d972fb81",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HR",
        "label": "unité",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#ef2929",
            "#8ae234",
            "#ef2929"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "e739f7aae9b74fb7",
        "type": "postgresql",
        "z": "e3a9e47b1012371f",
        "name": "",
        "query": "SELECT date, hr FROM ecg;",
        "postgreSQLConfig": "ea4825c2358d28cf",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 310,
        "y": 480,
        "wires": [
            [
                "7db28f846bd6b492"
            ]
        ]
    },
    {
        "id": "7db28f846bd6b492",
        "type": "ui_table",
        "z": "e3a9e47b1012371f",
        "group": "343a710f63a2887a",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 490,
        "y": 480,
        "wires": []
    }
]